@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Staatliches&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: #23242b;
	color: #fff;
}
.u-name {
	font-size: 20px;
	padding-left: 17px;
}
.u-name b {
	color: #127b8e;
}
.header i {
	font-size: 30px;
	cursor: pointer;
	color: #fff;
	transition: 800ms;
}
.header i:hover {
	color: #127b8e;
}
.user-p {
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}
.user-p img {
	width: 65px;
	height: 70px;
	border-radius: 50%;
}
.user-p h4 {
	color: #ccc;
	padding: 5px 0;
}
.side-bar {
	width: 250px;
	background: #262931;
	min-height: 100vh;
	transition: 800ms width;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.body {
	display: flex;
}
.section-1 {
	width: 100%;
	background: url("../img/bg.jpg");
	/*background-color: #5394ac;*/
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.section-1 h1 {
	color: #eee3aa;
	font-size: 60px;
	font-family: 'Staatliches', cursive;
	opacity: 75%;
}
.section-1 h1 span{
	background: #f3a5bb;
}

.section-1 p {
	color: #f3a5bb;
	font-size: 20px;
	background: #f3a5bb;
	border-radius: 5px;
	font-family: 'Lobster', cursive;
	background: transparent;
}
.side-bar ul {
	margin-top: 20px;
	list-style: none;
}
.side-bar ul li {
	font-size: 16px;
	padding: 15px 0px;
	padding-left: 20px;
	transition: 800ms background;
}
.side-bar ul li:hover {
	background: #127b8e;
}
.side-bar ul li a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
	letter-spacing: 1px;
}
.side-bar ul li a i {
	display: inline-block;
	padding-right: 10px;
	font-size: 23px;
}
#nav-btn {
	/*display: inline-block;*/
	margin-left: 70px;
	font-size: 20px;
	transition: 500ms color;
}
#checkbox {
	display: none;
}
#checkbox:checked ~ .body .side-bar {
	width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p{
	visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
	display: none;
}
#checkbox:checked ~ .body .side-bar a i{
	margin-left: -8px;
	transition: 800ms ;
}
@media screen and (max-width: 460px){
	.section-1 h1 {
		font-size: 2.5rem;
	}
}	